<div *ngFor="let project of projects; let i = index" class="projects__dashboard">
  <div class="project__buttons">
    <button mat-button (click)="addWidget(WIDGET_TYPES.PROGRESS, project.id)">Добавить прогресс</button>
    <button mat-button (click)="addWidget(WIDGET_TYPES.TASKS, project.id)">Добавить задачи</button>
    <button mat-button (click)="addWidget(WIDGET_TYPES.DATES, project.id)">Добавить сроки</button>
  </div>

  <div cdkDropList (cdkDropListDropped)="dragWidget($event, project.id)" class="dashboard">
    <div *ngFor="let widget of widgetsByProject[project.id]; let i = index" cdkDrag>
      <app-widget [type]="widget.type" [project]="project" (remove)="removeWidget(i, project.id)"></app-widget>
    </div>
  </div>
</div>
